@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  /* width: 100%; */
}
body {
  line-height: 1.5;
  /* background-color: #F9F8F5; */
  background-color: rgba(180, 200, 190, 0.3);
}
h1, h2, h3 {
  font-size: 16px;
  font-weight: 400;
  color: #363636;
}
h2, h3 {
  text-transform: uppercase;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
p {
  font-size: 14px;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  color: #363636;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.text-upper {
  text-transform: uppercase;
}
.flex-end {
  justify-content: flex-end;
}

li {
  list-style: none;
}
dt, dd {
  line-height: 2;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
.vertical {
  writing-mode: vertical-lr;
}
.pc-none {
  display: none !important;
}

/* Vueのアニメーション */
.v-enter-active,
.v-enter-active,
.v-leave-active,
.v-move {
  transition-property: transform, opacity;
  transition-duration: 1.3s;
}
.v-enter-active {
  opacity: 0;
  transform: translateY(50px);
}
.v-enter-to,
.v-leave-active {
  opacity: 1;
  transform: translateY(0);
}
.v-leave-to {
  opacity: 0;
  transform: translateY(50px);
}


/* ハンバーガーメニュー */
.header {
  position: fixed;
  width: 200px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.camera-icon {
  position: absolute;
  top: 40px;
  z-index: 9999;
  padding: 0 6vw;
}

.camera-icon-text {
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
}
.header-box {
  width: 100%;
  background-color: #FFF;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 min(1.6806722689vw + 25.0420168067px,48px) 0 rgba(0,0,0,.15);
  display: flex;
  justify-content: center;
  /* opacity: 0; */
  translate: 0 -100vh;
  transition: 1s;
}
.header-menu {
  padding: 130px 0 100px;
}
.header-menu-list {
  display: grid;
  line-height: 1.75;
  font-size: 14px;
}
.header-menu-list li {
  padding: 1em 0;
}

/* お問い合わせform */
input[type=text],input[type=tel],
input[type=email],textarea {
  /* padding: 1.5em 0 1.5em min(2.5vw, 50px); */
  padding: 1.5em min(2.5vw, 50px);
  width: 100%;
  border-radius: 10px;
  border: 1px solid #888;
  line-height: 1.5;
  /* box-sizing: border-box; */
}
textarea {
  padding: 2.5em 0 2.5em min(2.5vw, 50px);
  line-height: 1.75;
}
.textlink {
  text-decoration: underline;
  color: #8b8b8b;
  text-underline-offset: 0.3em;
}
.submit {
  width: 100%;
  text-align: center;
  background-color: rgba(49,45,43,.3);
  color: #312d2b;
  padding: 3em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* mobileの時改行 */
.sp-br {
  display: none;
}

/* お問い合わせ */
.contact {
  margin-top: 280px;
  background-color: rgba(49,45,43,.08);
}
.contact-area {
  padding: 150px 0 230px;
  display: block;
  position: relative;
}
.contact-tex {
  margin: 10px 0 60px;
  line-height: 1.5;
}
.contact-img-01 {
  position: absolute;
  top: 100px;
  left: 45%;
  /* width: 100%; */
  height: 330px;
  overflow: hidden;
}
.contact-img-02 {
  position: absolute;
  top: -100px;
  right: 5%;
  /* width: 100%; */
  height: 330px;
  overflow: hidden;
}

.contact-description {
  line-height: 2;
}
/* お問い合わせマウスストーカー */
.g-ms {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  transform: translate3d(50vw, 50vh, 0);
  z-index: 9999;
  pointer-events: none;  
  transition: all 0.4s;
}
.g-ms_i {
  background-color: #000;
  display: block;
  width: 160px;
  height: 160px;
  margin: -80px; /*半径*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(.25);
  visibility: hidden;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
}
/* .g-ms.g-ms-active .g-ms_i {
  opacity: 1;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
} */
.g-ms.g-ms-hover .g-ms_i {
  /* background-color: #000; */
  /* display: block; */
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  visibility: visible;
  opacity: .9;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
}


/* footer */
.footer {
  background-image: url("../images/footer_img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.footer-list {
  padding-top: 140px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  font-size: 14px;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
.footer-info {
  margin: 140px 0 40px;
}

/* GSAP fullwidth */
.fullwidth-image {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(8% 40%, 92% 40%, 92% 90%, 8% 90%);
  margin-top: -100px;
  margin-bottom: 200px;
}
.fullwidth-image img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.fullwidth-image-about {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(5% 10%, 95% 10%, 95% 80%, 5% 80%);
  margin-top: 50px;
  margin-bottom: 200px;
}
.fullwidth-image-about img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.js-fadetex span {
  display: inline-block;
}

.js-about-tit span {
  display: inline-block;
}

.js-contact-tit span {
  display: inline-block;
}

.js-photo-tit span {
  display: inline-block;
}

.scale-img img {
  transition: 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.scale-img img:hover {
  transform: scale(1.07) !important;
}