@charset "utf-8";

.pc-none-sp-display {
  display: none;
}

@media (max-width: 1100px) {
    .sp-br {
        display: block;
    }
    .sp-none {
        display: none !important;
    }
    .pc-none {
        display: block !important;
    }
    .sp-contact-link {
        position: absolute;
        left: 0;
        top: 70%;
    }
    .logo {
        position: absolute;
        right: 22px;
        top: 3%;
        bottom: 0px;
    }
    .logo-large {
        font-size: 16px;        
    }
    .logo-small {
        padding-top: 0px;
    }
    .header {
        left: 0;
    }
    .camera-icon {
        top: 4%;
        left: 0;
    }
    .camera-icon img {
        width: 35px;
    }
    .header-box {
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 0;
    }
    .swiper {
        margin-top: 93px;
        margin-right: 0 !important;
        margin-left: 22px !important;
    }
    .hero-img img {
        height: 80vh;
    }
    .index_about {
        margin-top: 100px
    }
    .index_about-container {
        margin: 0;
    }
    .index_about-content-wrapper {
        justify-content: initial;
        flex-direction: column;
        margin: 0 22px;   
    }
    .index_about-img {
        width: 100%;
        padding: 0;
    }
    .index_about-img img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .index_about-content  {
        padding: 0;
        margin-top: 25px;
    }
    .parallax {
        margin: 60px 0;
        height: 480px;
    }
    .parallax-img {
        margin: 0;
        border-radius: 0;
        background-position: 40%;
    }
    .about_hero {
        height: auto;
    }
    .about_hero-content {
        display: block;
        padding-top: 93px;
        margin: 0 22px 0 0;
    }
    .about_hero-img {
        width: 70vh;
        height: 600px;
    }
    .about_hero-wrapper {
        padding-left: 0px;
        margin-left: 22px;
        margin-top: 25px;
        width: 100%;
    }
    .about_hero_description {
        margin-top: 14px;
        margin-right: 22px;
    }
    .about_heading {
        margin-top: 120px;
    }
    .about_heading-content {
        display: block;
        margin: 0 22px;
    }
    .about_heading-wrapper {
        width: 100%;
    }
    .about_heading-description {
        width: 100%;
        margin-top: 24px;
    }
    .service_photo-video-swiper {
        margin-left: 0;
    }
}

@media (max-width: 880px) {
    .photo-heading {
        margin-top: 120px !important;
        margin-bottom: 25px !important;
      }
    .filter {
        margin-bottom: 20px !important;
    }
    .filter-title {
        font-size: 12px;
        margin-right: 15px;
    }
    .filter-select select {
        font-size: 12px;
    }
    .photo-container {
        column-count: 1;
        width: auto;
    }
    .photo-content {
        flex-direction: column-reverse;
        padding: 3vw 0;
        margin-right: 0;
    }
    .photo-content h3 {
        writing-mode: initial;
        margin-top: 5px;
    }
    .photo-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .ja-title {
        font-size: 10px;
    }
    
    .sp-br {
        display: block;
    }
    .sp-none {
        display: none !important;
    }
    .pc-none {
        display: block !important;
    }
    .pc-display-sp-none {
      display: none;
    }
    .pc-none-sp-display {
      display: block !important;
    }
    .more {
        font-size: 12px;
        text-align: center;
        display: block !important;
    }
    .load_tex .load_tit_1 {
      font-size: 18px;
      letter-spacing: 8px;
    }
    .load_tex .load_tit_2 {
      font-size: 18px;
      letter-spacing: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .load_tex .load_sub {
      font-size: 12px;
      letter-spacing: 5px;
    }
    .load_image_group img {
      width: 150px;
    }
    .load_image_group .img1 {
      left: -20px;
      top: 60px;
      transform: rotate(-10deg);
    }
    .load_image_group .img2 {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -50px;
    }
    .load_image_group .img3 {
      right: -30px;
      top: 100px;
      transform: rotate(12deg);
    }
    .load_image_group .img4 {
      left: 0px;
      bottom: 10px;
      transform: rotate(20deg);
    }
    .load_image_group .img5 {
      right: 0px;
      bottom: 0px;
      transform: rotate(-10deg);
    }

    .container {
        margin: 0 22px;
    }
    .content {
        margin: 0 22px;
    }
    dt, dd {
        font-size: 12px;
    }

    /* TOP */
    
    .description {
        margin-top: 25px;
    }
    .index_about-link {
        margin-top: 48px; 
    }
    .index_service-p {
        width: 100%;
        line-height: 1.5;
    }
    .index_service-content-wrapper {
        margin: 60px 22px 0;
        display: block;
    }
    .index_service-content {
        width: 80%;
        margin: 0 0 40px auto;
        position: relative;
        overflow: visible;
    }
    .index_service-img {
        height: 282px;
        object-fit: cover;
    }
    .index_service-en-title {
        position: absolute;
        transform-origin: left;
        transform: rotate(90deg);
        line-height: 0;
        margin: 0;
        top: 0;
        left: -22%;
        letter-spacing: 0.15rem;
    }
    .index_service-ja-title {
        writing-mode: vertical-rl;
        position: absolute;
        top: 28%;
        left: -25%;
        letter-spacing: 0.3rem;
    }
    .index_service-link {
        margin-top: 48px;
    }
    .index_service-link-sp-none {
        display: none !important;
    }
    .index_service-link-pc-none {
        display: block;
    }
    .index_example {
        margin-top: 80px;
        position: relative;
    }
    .sticky {
        position: initial;
    }
    .index_example-container {
        margin: 0 22px;
        display: block;
    }
    .index_example-description-container {
        display: block;
    }
    .index_example-description-wrapper {
        width: 100%;
    }
    .index_example-container-wrapper {
        width: 100%;
    }
    .index_example-description {
        margin: 20px 0 50px;
        line-height: 1.8;
    }
    .index_example-img-container {
        width: 100%;
    }
    .index_example-img-grid {
        gap: 60px;
    }
    .index_example-img-tex {
        margin-top: 10px;
    }
    .sp-example-link {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .contact {
        margin-top: 120px;
    }
    .contact-area {
        padding: 70px 0 230px;
    }
    .contact-tex {
        margin: 10px 0 26px;
    }
    .sp-contact-link {
        position: absolute;
        left: 0;
        top: 60%;
    }

    /* 私たちについて */
    
    .about_parallax-img-01 {
        background-position: 30%;
    }
    .about_advantage-content {
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .about_advantage-content:nth-child(n+2){
        margin-top: 60px;
    }
    .about_advantage-wrapper-tex-img {
        padding-right: 0;
    }
    .about_advantage-wrapper-tex-img h3 {
        margin-top: 20px;
    }
    .about_advantage-wrapper-tex-img .description {
        margin-top: 14px;
    }
    .about_advantage-content-row-reverse {
        margin: 0;
    }
    .about_advantage-wrapper-img-tex {
        padding-left: 0;
    }
    .about_advantage-wrapper-img-tex h3 {
        margin-top: 20px;
    }
    .about_advantage-wrapper-img-tex .description {
        margin-top: 14px;
    }
    .about_parallax-img-02 {
        background-image: url("../images/about_parallax-img-02-sp.webp");
        background-position: 7%;
    }
    .about_member-content {
        width: 100%;
    }
    .about_member-img {
        margin: 30px 0 20px;
    }
    .about_member-title {
        margin-top: 5px;
    }
    .about_company {
        margin-top: 80px;
    }
    .heading-title {
        margin-top: 5px;
    }
    .about_company-content {
        margin: 40px 0 0;
    }
    .about_company-content dl {
        display: block;
        padding: 24px 0;
    }
    .about_company-content dl dt {
        width: 100%;
    }
    .about_company-content dl dd {
        margin-top: 8px;
    }

    /* サービス紹介 */
    .service-content {
      margin-top: 60px;
    }
    .service_photo-video-img-wrapper {
        margin: 0;
    }
    .service_photo-video-img-01 {
        height: 320px;
        position: absolute;
        top: 60px;
        right: -22px;
    }
    .service_photo-video-img-02 {
        position: absolute;
        height: 240px;
        top: 300px;
        bottom: 0px;
        left: -22px;
    }

    .service_photo-video-img-para-01 {
        height: auto;
    }

    .service_photo-video-img-para-02 {
      height: auto;
      display: block;
      margin: 0;
    }

    .service_photo-video-heading {
        margin-top: 540px;
    }
    .service_photo-video-text-area {
        width: 100%;
    }
    .service_photo-video-swiper-content {
        margin: 74px 0 0;
    }
    .service_photo-video-swiper {
        padding-left: 22px;
    }
    .swiper-slide.swiper-img {
        width: 210px !important;
    }
    .swiper-slide.swiper-img img {
        height: 400px;
        object-position: bottom;
        object-fit: cover;
    }
    .service_photo-video-link {
        margin-left: 22px;
        margin-top: 30px;
        text-align: left;
    }
    /* .service_question {
        margin-top: 120px;
    } */
    .vertical {
        writing-mode: initial;
    }
    .service-wrapper {
        margin: 60px 0px;
    }
    .service-wrapper ul li {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .service-example-tit-sub {
      padding-top: 10vw;
    }
    .service-example-tit-sub p {
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 35px;
    }
    .service-example-container {
      padding-right: 0;
    }
    .service-example-link {
      padding-right: 8vw;
      margin-top: 60px;
      padding-bottom: 120px;
    }
    .service_question {
      padding-top: 120px;
      padding-bottom: 60px;
    }


    /* お問い合わせ */
    .contact_contact-area {
        margin: 160px 22px 120px;
        row-gap: 50px; 
    }
    .consultation-text-small {
        font-size: 8px;
        line-height: 1.5;
    }
    .contact-content-grid {
        row-gap: 1.8em;
    }
    input[type=text],input[type=tel],
input[type=email],textarea {
    padding: 1.4em 14px;
    }
    .privacy-policy {
        line-height: 2;
    }
    .submit {
        padding: 2em;
    }
    /* footer */
    .footer-list {
        padding-top: 60px;
        flex-direction: column;
        row-gap: 3em;
        font-size: 12px;
    }
    .footer-info {
        margin: 50px 0 25px;
    }
}