@charset "utf-8";
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .ja-title {
        font-size: 10px;
    }
    .logo {
        position: absolute;
        right: 22px;
        top: 3%;
        bottom: 0px;
    }
    .logo-large {
        font-size: 16px;        
    }
    .logo-small {
        padding-top: 0px;
    }
    .header {
        left: 0;
    }
    .camera-icon {
        top: 4%;
        left: 0;
    }
    .camera-icon img {
        width: 35px;
    }
    .sp-br {
        display: block;
    }
    .sp-none {
        display: none !important;
    }
    .more {
        font-size: 12px;
        text-align: center;
        display: block;
    }
    .container {
        margin: 0 22px;
    }
    /* TOP */
    .swiper {
        margin-top: 93px;
        margin-right: 0 !important;
        margin-left: 22px !important;
    }
    .hero-img img {
        height: 80vh;
    }
    .index_about {
        margin-top: 100px
    }
    .index_about-container {
        margin: 0;
    }
    .index_about-content-wrapper {
        justify-content: initial;
        flex-direction: column;
        margin: 0 22px;   
    }
    .index_about-img {
        width: 100%;
        padding: 0;
    }
    .index_about-img img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .index_about-content  {
        padding: 0;
        margin-top: 25px;
    }
    .description {
        margin-top: 25px;
    }
    .index_about-link {
        margin-top: 48px; 
    }
    .parallax {
        margin: 60px 0;
        height: 480px;
    }
    .parallax-img {
        margin: 0;
        border-radius: 0;
        background-position: 40%;
    }
    .index_service-p {
        width: 100%;
        line-height: 1.5;
    }
    .index_service-content-wrapper {
        margin: 60px 22px 0;
        display: block;
    }
    .index_service-content {
        width: 80%;
        margin: 0 0 40px auto;
        position: relative;
    }
    .index_service-img {
        height: 282px;
        object-fit: cover;
    }
    .index_service-en-title {
        position: absolute;
        transform-origin: left;
        transform: rotate(90deg);
        line-height: 0;
        margin: 0;
        top: 0;
        left: -22%;
        letter-spacing: 0.15rem;
    }
    .index_service-ja-title {
        writing-mode: vertical-rl;
        position: absolute;
        top: 40%;
        left: -25%;
        letter-spacing: 0.3rem;
    }



    /* お問い合わせ */
    .contact_contact-area {
        margin: 160px 22px 120px;
        row-gap: 50px; 
    }
    .consultation-text-small {
        font-size: 8px;
        line-height: 1.5;
    }
    .contact-content-grid {
        row-gap: 1.8em;
    }
    input[type=text],input[type=tel],
input[type=email],textarea {
    padding: 1.4em 14px;
    }
    .privacy-policy {
        line-height: 2;
    }
    .submit {
        padding: 2em;
    }
    /* footer */
    .footer-list {
        padding-top: 60px;
        flex-direction: column;
        row-gap: 3em;
    }
    .footer-info {
        margin: 50px 0 25px;
    }
}