@charset "utf-8";
/* CSS Document */
.more {
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  font-size: 14px;
  display: inline-block;
  font-family: "din-2014", sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
}
.more::after {
  background-color: #000;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform .6s;
}
.more:hover::after {
  transform: scale(1, 1);
}
.content {
  margin: 0 8vw;
  position: relative;
}
.index_hero {  
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.swiper {
  margin-top: 100px;
}
.logo {
  text-align: right;
  position: fixed;
  right: 70px;
  bottom: 5%;
  z-index: 99;
}
.logo-large {
  font-size: 24px;
  line-height: 1.2;
}
.logo-small {
  padding-top: 10px; 
}
.index_about {
  margin-top: 150px;
  width: 100%;
}
.index_about-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  /*padding: 0 6vw;*/
}
.index_about-content-wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 8vw;
}
.index_about-img {
  padding: 0 5%;
}
.index_about-content {
  padding: 0vh 5vw;
}
.en-title {
  font-family: "din-2014", sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
}
.description {
  margin-top: 40px;
  line-height: 1.5;
}
.index_about-link {
  margin-top: 60px; 
}
.parallax {
  margin: 200px 0;
}
.parallax-img {
  height: 100%;
  padding: 15% 0;
  margin: 0 auto;
  max-width: 1200px;
  background-attachment: fixed;
  background-image: url("../images/desert-8041043_1280.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin: 0 8vw;
}
.index_service-p {
  width: 60%;
}
.index_service-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 60px 8vw 0;
}
.index_service-content {
  width: 45%;
}
.index_service-img {
  width: 100%;
}
.index_service-en-title {
  margin: 35px 0 10px;
}
.index_service-description {
  margin-top: 20px;
  width: 100%;
}
.index_service-link {
  margin-top: 160px;
}
.index_service-content-right {
  margin-top: 170px;
}
.index_example {
  margin-top: 320px;
}
.index_example-title {
  margin: 0 8vw;
}
.index_example-container {
  margin: 0 8vw;
  display: flex;
  justify-content: space-between;
}
.index_example-container-wrapper {
  width: 20%;
}
.index_example-en-title {
  margin-bottom: 10px;
}
.index_example-description {
  margin: 50px 0 110px;
  line-height: 2.0;
}
.index_example-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_example-bar {
  content: "";
  width: 1px;
  height: 250px;
  background-color: #707070;
  transform: translate(5px, 0);
}
.index_example-img-grid {
  display: grid;
  gap: 100px;
}
.index_example-img-tex {
  margin-top: 30px;
}
.sticky {
  position: sticky;
  top: 150px;
}
.index_instagram {
  margin-top: 220px;
}
.about_hero, .service_hero {
  height: 100vh;
}
.about_hero-content {
  padding-top: 350px;
  margin: 0 200px 0 0;
  display: flex;
}
.about_hero-wrapper {
  padding-left: 60px;
}
.about_hero-description {
  margin-top: 25px;
}
.about_heading-content {
  display: flex;
  justify-content: center;
  margin: 0 20vw;
}
.about_heading-wrapper {
  width: 30%;
}
.heading-title {
  margin-top: 15px;
}
.about_heading-description {
  width: 30%;
}
.about_advantage-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_advantage-wrapper {
  display: flex;
  flex-direction: column;
}
.about_advantage-wrapper-tex-img {
  padding-right: 70px;
}
.about_advantage-wrapper-img-tex {
  padding-left: 70px;
}
.about_advantage-img {
  flex: 0 0 50%;
}
.about_advantage-img img {
  width: 100%;
}
.about_advantage-content-row-reverse {
  flex-direction: row-reverse;
  margin: 120px 0;
}
.about_member-content {
  width: 40%;
}
.about_member-img {
  margin: 100px 0 30px;
}
.about_member-img img {
  width: 100%;
}
.about_member-title {
  margin-top: 10px;
}
.about_company {
  margin-top: 180px;
}
.about_company-content {
  margin: 60px 0 300px;
}
.about_company-content dl {
  display: flex;
  padding: 30px 0;
  border-top: 0.5px solid #707070;
  /* border-bottom: 0.5px solid #707070; */
  font-size: 14px;
}
.about_company-content dl:last-child {
  border-bottom: 0.5px solid #707070;
}
.about_company-content dl dt {
  width: 160px;
}
.service_hero-content {
  padding-top: 350px;
  margin: 0 0 0 8vw;
  display: flex;
  align-items: center;
}
.service_hero-wrapper {
  padding-right: 90px;
}
.service_hero-en-title {
  text-transform: none !important;
}
.service_hero-description {
  margin-top: 50px;
}
.service_photo-video-img-wrapper {
  margin: 30px 0 120px;
  position: relative;
}
.service_photo-video-img-02 {
  position: absolute;
  right: 10%;
  bottom: -30%;
}
.service_photo-video-text-area {
  width: 50%;
  margin-bottom: 150px;
}
.service_guide {
  margin-top: 240px;
}
.service-wrapper {
  margin: 0 15vw;
}
.service-wrapper ol li {
  list-style-type: decimal-leading-zero;
  padding-left: 40px;
  margin-bottom: 80px;
}
.service-wrapper ol li::marker {
  font-size: 14px;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  width: 22px;
}
.service_question {
  margin-top: 240px;
}
.service-wrapper ul li {
  margin-bottom: 80px;
  margin-left: -22px;/* li::markerの横幅分マイナスで移動 */
}
.contact_contact-area {
  margin: 180px 13vw 220px;
  display: grid;
  row-gap: 60px;
}
.contact-content-grid {
  display: grid;
  row-gap: 2em;
}
.label-check {
  cursor: pointer;
}
.consultation-text {
  padding-left: 2.5em;
}
.required {
  display: flex;
  column-gap: 1em;
  align-items: center;
}
.required::after {
  content: "必須";
  font-size: 0.75em;
  background-color: rgb(139,139,139);
  color: #FFF;
  border-radius: 15px;
  padding: 2px 10px;
}
.name-wrapper {
  display: flex;
  justify-content: space-between;
}
.name-wrapper span {
  width: 45%;
}