@charset "utf-8";
/* CSS Document */
.more {
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  font-size: 14px;
  display: inline-block;
  font-family: "din-2014", sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
}
.more::after {
  background-color: #000;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform .6s;
}
/* .more:hover::after {
  transform: scale(1, 1);
} */
.more.active::after {
  transform: scale(1, 1);
}
.link-hover {
  position: relative;
}
.link-hover::after {
  background-color: #000;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform .6s;
}
.link-hover:hover::after {
  transform: scale(1, 1);
  transform-origin: left;
}

/* ロードアニメーション */
.load_content {
  background-color: #45875f;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
.load_tex {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.load_tex .load_tit_1 {
  font-size: 44px;
  letter-spacing: 15px;
  font-weight: 600;
  white-space: nowrap;
}
.load_tex .load_tit_2 {
  font-size: 44px;
  letter-spacing: 15px;
  font-weight: 600;
}
.load_tex .load_sub {
  font-size: 14px;
  letter-spacing: 10px;
  font-weight: 500;
}
.load_tex .load_tit_1 span,
.load_tex .load_tit_2 span,
.load_tex .load_sub span {
  display: inline-block;
}
.load_image_group img {
  position: absolute;
}
.load_image_group .img1 {
  left: 50px;
  top: 20px;
  transform: rotate(-10deg);
}
.load_image_group .img2 {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
}
.load_image_group .img3 {
  right: -20px;
  top: 40px;
  transform: rotate(12deg);
}
.load_image_group .img4 {
  left: 100px;
  bottom: -20px;
  transform: rotate(25deg);
}
.load_image_group .img5 {
  right: 100px;
  bottom: -20px;
  transform: rotate(-15deg);
}

.content {
  margin: 0 8vw;
  position: relative;
}
.index_hero {  
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.swiper {
  margin-top: 80px;
  margin-right: 15vw !important;
}
.swiper-slide.hero-img {
  /* max-width: 1400px; */
  overflow: hidden;
}

.index_hero .swiper-slide img {
  transition: 0.3s;
}

/* .index_hero .swiper-slide[class*=-active] img {
  transform: scale(1.0);
}
.index_hero .swiper-slide[class*=-prev] img {
  transform: translateX(50vw);
  transition: 15s;
}
.index_hero .swiper-slide[class*=-next] img {
  transform: translateX(-50vw);
  transition: 15s;
} */

.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.logo {
  text-align: right;
  position: fixed;
  right: 70px;
  bottom: 5%;
  z-index: 99;
  mix-blend-mode: multiply;
}
.logo-large {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Marcellus', serif;
  letter-spacing: 0.05em;
}
.logo-small {
  padding-top: 5px;
  font-family: 'Marcellus', serif;
  letter-spacing: 0.05em;
}
.index_about {
  margin-top: 150px;
  width: 100%;
}
.index_about-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  /*padding: 0 6vw;*/
}
.index_about-content-wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 8vw;
}
.index_about-img {
  padding: 0 5%;
  /* overflow: hidden; */
}
.index_about-img img {
  transition: 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
a:hover .index_about-img img {
  transform: scale(1.04) !important;
}
.index_about-content {
  padding: 0 10vw 0 5vw;
}
.en-title {
  font-family: "din-2014", sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
}
.ja-title {
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  /* font-weight: bold; */
  font-size: 12px;
  margin-top: 5px;
  display: block;
  letter-spacing: .05em;
}
.description {
  margin-top: 40px;
  line-height: 1.5;
}
.index_about-link {
  margin-top: 60px; 
}
.parallax {
  margin: 200px 5vw;
  
}
.parallax-img {
  height: 100%;
  padding: 18% 0;
  margin: 0 auto;
  /* max-width: 1400px; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.top_parallax-img {
  background-image: url("../images/top_parallax.png");
}
.about_parallax-img-01 {
  background-image: url("../images/about_parallax-img-01.png");
}
.about_parallax-img-02 {
  background-image: url("../images/about_parallax-img-02.png");
}
.container {
  margin: 0 8vw;
}
.index_service-p {
  width: 60%;
  line-height: 2;
}
.index_service-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 60px 8vw 0;
}
.index_service-content {
  width: 45%;
  overflow: hidden;
}
.index_service-content img {
  transition: 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.index_service-content img:hover {
  transform: scale(1.07) !important;
}

.index_service-img {
  width: 100%;
}
.index_service-en-title {
  margin: 35px 0 10px;
}
.index_service-ja-title {
  font-weight: normal;
  font-size: 14px;
}
.index_service-description {
  margin-top: 20px;
  width: 100%;
}
.index_service-link {
  margin-top: 160px;
}
.index_service-link-pc-none {
  display: none;
}
.index_service-content-right {
  margin-top: 170px;
}
.index_example-description-container {
  display: flex;
}
.index_example-description-wrapper {
  width: 60%;
}
.index_example {
  margin-top: 320px;
}
.index_example-title {
  margin: 0 8vw;
}
.index_example-container {
  margin: 0 8vw;
  display: flex;
  justify-content: space-between;
}
.index_example-container-wrapper {
  width: 45%;
}
.index_example-description {
  margin: 50px 0 110px;
  line-height: 2.0;
}
.index_example-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}
.index_example-bar {
  position: relative;
  overflow: hidden;
}
.index_example-bar::before {
  content: "";
  width: 1px;
  height: 250px;
  background-color: rgba(49,45,43,.3);
  display: block;
}
.bar {
  content: "";
  width: 1px;
  /* height: 250px; */
  /* height: 10%; */
  background-color: #312d2b;
  display: block;
  position: absolute;
  top: 0;
}
.index_example-img-container {
  width: 45%;
}
.index_example-img-grid {
  display: grid;
  gap: 100px;
}
.index_example-img-grid img {
  width: 100%;
}
.index_example-img-tex {
  margin-top: 30px;
}
.index_example-img-grid li {
  overflow: hidden;
}
.index_example-img-grid li img{
  transition: 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.index_example-img-grid li img:hover {
  transform: scale(1.07) !important;
}

.sticky {
  position: sticky;
  top: 150px;
}
.index_instagram {
  margin-top: 220px;
}
/* .about_hero, .service_hero {
  height: 100vh;
} */
.about_hero {
  height: 100vh;
}

.about_hero-img {
  width: 65%;
  height: 330px;
  /* object-fit: cover; */
  overflow: hidden;
}
.about_hero-img img {
  width: 100%;
}
.about_hero-content {
  padding-top: 350px;
  margin: 0 8vw 0 0;
  display: flex;
  align-items: center;
}
.about_hero-wrapper {
  padding-left: 60px;
  width: 35%;
  margin-top: -30px;
}
.about_hero_description {
  margin-top: 25px;
  line-height: 1.8;
}
.about_heading-content {
  display: flex;
  justify-content: center;
  margin: 0 20vw;
  margin-bottom: 100px;
}
.about_heading-wrapper {
  width: 30%;
}
.heading-title {
  margin-top: 15px;
}
.about_heading-description {
  width: 30%;
}
.about_advantage-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_advantage-wrapper {
  display: flex;
  flex-direction: column;
}
.about_advantage-wrapper-tex-img {
  padding-right: 70px;
}
.about_advantage-wrapper-img-tex {
  padding-left: 70px;
}
.about_advantage-img {
  flex: 0 0 50%;
}
.about_advantage-img img {
  width: 100%;
}
.about_advantage-content-row-reverse {
  flex-direction: row-reverse;
  margin: 120px 0;
}
.about_member-content {
  width: 40%;
}
.about_member-img {
  margin: 100px 0 30px;
}
.about_member-img img {
  width: 100%;
}
.about_member-title {
  margin-top: 10px;
}
.about_company {
  margin-top: 180px;
}
.about_company-content {
  margin: 60px 0 300px;
}
.about_company-content dl {
  display: flex;
  padding: 30px 0;
  border-top: 0.5px solid #707070;
  /* border-bottom: 0.5px solid #707070; */
  font-size: 14px;
}
.about_company-content dl:last-child {
  border-bottom: 0.5px solid #707070;
}
.about_company-content dl dt {
  width: 160px;
}
.service_photo-video-img-wrapper {
  margin: 60px 0 60px;
  position: relative;
}
.service_photo-video-img-02 {
  /* position: absolute;
  right: 10%;
  bottom: -30%; */
  height: 100%;
}

.service_photo-video-img-para-01 {
  height: 600px;
  overflow: hidden;
}

.service_photo-video-img-para-02 {
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  margin-right: 150px;
  margin-top: -230px;
}


.service_photo-video-text-area {
  width: 50%;
}
.service_photo-video-swiper-content {
  margin: 120px 0 0 8vw;
  display: flex;
  
}

.service_photo-video-swiper {
  overflow: hidden;
  position: relative;
  margin-left: 80px;
}

.swiper-slide.swiper-img {
  /*width: max-content;*/
  width: 300px !important;
}
.swiper-slide.swiper-img img {
  width: 100%;
}
.service_photo-video-link {
  margin-left: 8vw;
  margin-top: 60px;
}

.service-example-container {
  /* margin-top: 39vw; */
  padding: 0 8vw;
  /* height: 100vh; */
  width: 100%;
  background-color: #333;
  color: #fff;
}

.service-content {
  position: relative;
  padding: 0 8vw 38vw;
  margin-top: 80px;
}


.service-example-tit-sub {
  padding-top: 8vw;
}
.service-example-tit-sub h3 {
  font-size: 9.6vw;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}
.service-example-tit-sub p {
  font-size: 18px;
  color: #fff;
}

.service-example-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service-example-item {
  width: 13vw;
  height: 60vh;
  background-position: center;
  background-size: 50vh;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 30px;
  filter: grayscale(0.2);
  position: relative;
}
.service-example-item:hover {
  filter: grayscale(0);
}

.service-example-item.ex-item01 {
  background-image: url(../images/serice_photo_01.png);
}
.service-example-item.ex-item02 {
  background-image: url(../images/serice_photo_02.png);
}
.service-example-item.ex-item03 {
  background-image: url(../images/serice_photo_03.png);
}
.service-example-item.ex-item04 {
  background-image: url(../images/serice_photo_04.png);
}
.service-example-item.ex-item05 {
  background-image: url(../images/serice_photo_05.png);
}

.service-example-item-tit {
  font-size: 2.5vw;
  font-family: 'Shippori Mincho', serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 20%;
  bottom: 20px;
  padding: 5px 10px;
}
.service-example-item-tit::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.service-example-link {
  margin-top: 80px;
  padding-bottom: 220px;
  position: relative;
}

.service-example-link::after {
  background-color: #fff;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 22px;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform .6s;
}
.service-example-link:hover::after {
  transform: scale(1, 1);
}


.service_guide {
  margin-top: 240px;
}
.service-wrapper {
  margin: 0 15vw;
}
.service-wrapper ol li {
  list-style-type: decimal-leading-zero;
  padding-left: 40px;
  margin-bottom: 80px;
}
.service-wrapper ol li::marker {
  font-size: 14px;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  width: 22px;
}
.service_question {
  /* margin-top: 240px; */
  padding-top: 240px;
  padding-bottom: 100px;
  transition: 1s;
}
.service-wrapper ul li {
  margin-bottom: 80px;
  margin-left: -22px;/* li::markerの横幅分マイナスで移動 */
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.filter-title {
  font-size: 14px;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  margin-right: 30px;
}
.filter-select {
  border-bottom: 1px solid #727171;
}
.filter-select select {
  width: 140px;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: none;
  font-family: "游明朝",YuMincho,"Hiragino Mincho ProN W3","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  font-size: 14px;
}
.photo-heading {
  margin-top: 120px;
  margin-bottom: 50px;
}
.photo-container {
  column-count: 2;
  /* column-gap: 0; */
  width: 90%;  
}
.photo-content {
  display: flex;
  padding: 2vw 3rem 2vw 0;
  margin-right: 50px;
}
.photo-content h3 {
  margin-right: 20px;
  writing-mode: vertical-lr;
}
.photo-inner {
  width: calc(100% - 5rem);
  min-width: 320px;
  overflow: hidden;
}
.photo-img {
  /* width: calc(100% - 5rem);
  min-width: 320px; */
  width: 100%;
  object-fit: cover;
}

.contact_contact-area {
  margin: 180px 13vw 220px;
  display: grid;
  row-gap: 80px;
}
.contact-content-grid {
  display: grid;
  row-gap: 2em;
}
.label-check {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.label-check::before {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  border: #888 solid 1px;
  border-radius: 50%;
  background-color: #FFF;
}
.consultation-text {
  padding-left: 0.5em;
}
.consultation-text-small {
  display: block;
  font-size: 12px;
  margin-top: 8px;
}
.required {
  display: flex;
  column-gap: 1em;
  align-items: center;
}
.required::after {
  content: "必須";
  font-size: 0.75em;
  background-color: rgb(139,139,139);
  color: #FFF;
  border-radius: 15px;
  padding: 2px 10px;
}
.name-wrapper {
  display: flex;
  justify-content: space-between;
}
.name-wrapper span {
  width: 48%;
}
